* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {
  width: 100%;
  background: #fff;
  min-height: 200vh;

  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 15px 100px;
  background: #4e0000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 1px;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #4e0000;
  text-decoration: none;
  font-size: 2em;

  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #4e0000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #4e0000;
  transition: width 0.4s;
}

header ul li a:hover::after {
  width: 100%;
}

header.sticky ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.4s;
}

header.sticky ul li a:hover::after {
  width: 100%;
}

header.sticky .logo,
header.sticky ul li a {
  color: #fff;
  width: 10%;
}

/* Add styles for the menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #4e0000;
  margin: 3px 0;
  transition: 0.4s;
}

/* Hide navigation links by default */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

@media screen and (max-width: 750px) {
  /* Hide navigation links when screen width is less than 700px */
  .nav-links {
    display: none;
    flex-direction: column;
    background: #4e0000;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    text-align: right;
  }
  .nav-links li a {
    color: #fff;
  }
  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  header.sticky .bar {
    background: #fff;
  }

  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.title {
  position: absolute;
  top: 276px;
  left: 10%;
  line-height: 0.5;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -6px;
}

@media (max-width: 685px) {
  .title {
    line-height: 1; /* Adjust line height for smaller screens */
  }
  .subtitle {
    padding-top: 150px;
  }
}

.title p {
  font-size: 25px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 30px;
}
.title span {
  color: #4e0000;
  letter-spacing: 5px;
  padding-bottom: 30px;
}
.subtitle {
  position: absolute;
  top: 375px;
  left: 10%;
  line-height: 0.5;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -6px;
}

.subtitle a {
  font-size: 20px;
  font-weight: 300;
  color: #4e0000;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .icon {
    visibility: hidden;
  }
}

.icon ul {
  z-index: 1000;
  list-style: none;
  position: fixed;
  right: 20px;
  top: 63%;
  padding: 10px 10px;
}

.icon ul li a i {
  color: #4e0000;
  cursor: pointer;
  font-size: 18px;
  margin: 14px 0;
  transition: 0.3s;
}

.icon ul li a i:hover {
  transform: scale(1.8) !important;
}
/* download cv css */
.download-button a {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 200px;
  background-color: #4e0000;
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  transition: 0.3s;
}
.download-button a:hover {
  transform: scale(1.2) !important;
}

@media screen and (max-width: 500px) {
  header,
  header.sticky {
    padding: 15px 50px; /* Adjust padding for smaller screens */
  }
  .menu-icon {
    margin-right: 10px; /* Adjust margin for the icon on smaller screens */
  }
  .logo {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  header ul li a {
    font-size: 1.35em;
    line-height: 1.5;
  }
  .title p,
  .subtitle,
  .title,
  .subtitle a {
    text-align: center; /* Center-justify the text on screens 500px or less */
  }
  .title span {
    font-size: 70px;
  }
  .title {
    top: 100px;
  }
  .subtitle {
    top: 200px;
  }

  .download-button a {
    margin-left: 0px;
  }
}

@media screen and (max-width: 405px) {
  .subtitle a {
    font-size: 15px;
  }
}

.experienceOffset {
  margin-top: 50px;
}

.experienceContainer {
  margin-top: 200px;
  width: 100%;
  padding: 35px 10%;
  padding-top: 100px;
}

main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.column expHeader.experienceTitle {
  color: #4e0000;
  padding: 40px;
}

.column .contents {
  padding: 0px 30px;
  border-left: 2px solid #a18276;
}

.column .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #4e0000;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.column .contents .box:hover {
  box-shadow: 0px 3px 12px 0px;
  border: 1px solid transparent #fff;
}

.column .contents .box:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: -5px;
  background-color: #4e0000;
  border: 2px solid #4e0000;
}

.box h4 {
  position: relative;
  color: #4e0000;
}
.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
}

.box p {
  line-height: 1.2;
  color: #93827f;
  font-size: 17px;
}

@media (max-width: 768px) {
  main.row {
    grid-template-columns: 1fr;
  }
}

.contactContainer {
  position: absolute;
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

form h3 {
  color: #4e0000;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 90px;
  width: 100%;
  margin-left: 70px;
  align-items: center;
}

form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #fff;
  border: 2px solid #4e0000;
  font-size: 20px;
  color: #4e0000;
}

.imageAboutPage {
  width: 30%;
}

/* Center the "About Me" title */
#about h1 {
  text-align: center;
}

/* Style the image */
.imageAboutPage {
  width: 30%; /* Make the image occupy the full width of its container */
  display: block; /* Ensure proper spacing and alignment */
  margin: 0 auto; /* Center the image horizontally */
}

/* Style the text */
#about p {
  text-align: justify; /* Justify text for a neat appearance */
}

/* Use flexbox to create the desired layout for the text and image */
#about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

#about .col-lg-4 {
  flex: 0 0 50%; /* Make the image occupy 50% of the width on larger screens */
}

#about .col-lg-8 {
  flex: 0 0 50%; /* Make the text occupy 50% of the width on larger screens */
}

.inputBox {
  position: relative;
  width: 150%;
  padding: 10px;
}
.inputBox2 {
  position: relative;
  width: 150%;
  padding: 10px;
}

@media (max-width: 900px) {
  .inputBox,
  .inputBox2 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  form h3 {
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}
@media (max-width: 415px) {
  form h3 {
    font-size: 50px;
  }
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #4e0000;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #4e0000;

  font-size: 1em;
}

.inputBox2 textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #4e0000;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #4e0000;
  font-size: 1em;
}
.inputBox span {
  position: absolute;
  left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: grey;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox2 span {
  position: absolute;
  left: 0;
  padding: 20px;
  pointer-events: none;
  font-size: 1em;
  color: grey;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #4e0000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fff;
  border-left: 1px solid #4e0000;
  border-right: 1px solid #4e0000;
  letter-spacing: 0.2em;
}

.inputBox2 textarea:valid ~ span,
.inputBox2 textarea:focus ~ span {
  color: #4e0000;
  transform: translateX(20px) translateY(3px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fff;
  border-left: 1px solid #4e0000;
  border-right: 1px solid #4e0000;
  letter-spacing: 0.2em;
}

form button {
  padding: 15px;
  background: #4e0000;
  border: 2px solid #4e0000;
  font-size: 20px;
  color: #fff;
  width: 40%;
  cursor: pointer;
  outline: none;
  margin: 20px auto;
  border-radius: 30px;
  transition: 0.3s;
  /*box-shadow: 2px 2px 5px #000;*/
}

form button:hover {
  transform: scale(1.2) !important;
}

.about-section {
  margin-top: 1000px;
  background: url(piano.jpg) no-repeat left;
  background-size: 55%;
  background-color: #4e0000;
  overflow: hidden;
  padding: 100px 0;
  padding-top: 300px;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fff;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
  .skills {
    visibility: hidden;
  }
}
